<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить читателя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/readers/{id}(id=${editReader.getId()})}" th:object="${editReader}">
    <label for="name">Введите имя:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="birthDay">Введите год рождения:</label>
    <input type="text" th:field="*{birthDay}" id="birthDay"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}">Year error</div>
    <br/>
    <input style="color: blue" type="submit" value="Изменить!"/>
</form>
</body>
</html>