<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <title>Читатель</title>
</head>
<body>
<p th:text="${oneReader.getName() + ', ' + oneReader.getBirthDay()}">Читатель</p>
<div th:if="${allBooksOnOneReader.isEmpty()}">
    <p>Читатель не взял еще не одной книги</p>
    <hr/>
</div>
<div th:if="${!allBooksOnOneReader.isEmpty()}">
    <hr/>
    <b>Книги</b>
    <br/>
    <table th:each="book:${allBooksOnOneReader}">
        <tr th:text="${book.getBookName()+', '+ book.getAuthor()+', ' + book.getYearReleased()}">Книга</tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/readers/{id}/edit(id=${oneReader.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/readers/{id}(id=${oneReader.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>